<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Primary Meta Tags -->
<title>Jacob Bradley | Full Stack Developer & UI Designer</title>
<meta name="title" content="Jacob Bradley | Full Stack Developer & UI Designer">
<meta name="description" content="JavaScript & PHP developer specialized in Laravel, Vue.js, Nuxt, and the LAMP & JAM stacks">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:url" content="https://www.jbradley.dev/">
<meta property="og:title" content="Jacob Bradley | Full Stack Developer & UI Designer">
<meta property="og:description" content="JavaScript & PHP developer specialized in Laravel, Vue.js, Nuxt, and the LAMP & JAM stacks">
<meta property="og:image" content="img/jacob-vector-5.png">

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image">
<meta property="twitter:url" content="https://www.jbradley.dev/">
<meta property="twitter:title" content="Jacob Bradley | Full Stack Developer & UI Designer">
<meta property="twitter:description" content="JavaScript & PHP developer specialized in Laravel, Vue.js, Nuxt, and the LAMP & JAM stacks">
<meta property="twitter:image" content="img/jacob-vector-5.png">
    
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    
    <link rel="stylesheet" href="css/style.css">
    
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900" rel="stylesheet">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">


	
</head>
<body>
   
   <section class="jumbotron full rounded-0 mb-0">

      
      <div class="container mb-7 text-white text-center text-uppercase">
      
      <img src="img/jb-logo.svg" alt="" width="160" class="img-fluid logo mx-auto text-center">
      
       <h1 class="font-weight-normal mt-5">Jacob Bradley<br>
       <small class="text-white">Fullstack Developer <br/><i style="font-size: .6em;line-height: 1.2em;display: block;">with an eye for design!</i></small></h1>

      <div class="col-md-8 mt-5 mb-5 mx-auto">
       <ul class="nav row list-unstyled ">
           <li class="mx-auto"><a class="about" href="#">About</a></li>
           <li class="mx-auto"><a class="skillset" href="#">Skillset</a></li>
           <li class="mx-auto"><a class="work" href="#">Work</a></li>
           <li class="mx-auto"><a class="resume" href="#">Resume</a></li>
           <li class="mx-auto"><a class="contact" href="#">Contact</a></li>
       </ul>
       </div>
       
   </div>
   
   <div class="newsletter w-100 py-5 text-center text-white shadow-lg">
       <div class="container">
           <h2 class="text-uppercase font-weight-light">Making the web a more <span class="font-weight-bold">beautiful</span> place</h2>
       </div>
       
   </div>
   
   
   <div class="slant"></div>
   
   <div class="slant b"></div>
   
   </section>
   
   
    
    
    <section class="me full ">
        
        <img src="img/jacob-vector-5.png" alt="" class="jacob d-none d-md-block img-fluid position-absolute">
        
        <div class="container text-center ">
        
        <div class="col-lg-7 mx-auto">
        
<h1 class="font-weight-light text-primary mb-4 text-uppercase">THIS GUY<br><small>In relentless pursuit of <em>better</em></small></h1>
       
       
       <p >I am always keeping an eye out for ways to better my work. Whether it be a more efficient process, an exciting technology, or a cool new design aesthetic, I'm constantly looking to better my understanding of relevant concepts.</p>

       
       <div class="row mt-4 ">
<a href="https://github.com/jtbradley" target="_blank" class="btn btn-main ml-auto">GitHub</a>
<a href="https://www.linkedin.com/in/jacob-dev" target="_blank" class="btn btn-main mr-auto offset-1">LinkedIn</a>    

       </div>
       
       <div class="mt-5 mb-2 font-weight-bold text-default text-uppercase">
               <span class="font-weight-bold text-dark">Things I <span style="color:#A2144B;">❤</span></span>
                <ul class="list-unstyled things-love">
                   <li>Passionate People</li>
                    <li>Modular, Performant Code</li>
                    <li>Clean, Purposeful Design</li>
                    <li>Linux &amp; Open Source</li>
                    <li>Podcasts</li>
                </ul>
            </div>
       
       </div>

        </div>

        <img src="img/jacob-vector-5.png" alt="" class="jacob-mob mt-3 d-md-none img-fluid ">
        
    </section>
    
    <section class="skillset full">
       
        <div class="container">
           
           <div class="row">
           
           <div class="technical text-left col-md-5 mt-md-0">
           
            <h1 class="font-weight-light text-primary mb-4 text-uppercase ">Technical<br><small>The <em>steak</em></small></h1>
            
            <div class="mt-5 bars">
               <div id="html" class="mb-4" >HTML</div>
               <div id="css" class="mb-4">CSS</div>
                <div id="jscript" class="mb-4" >JavaScript/jQuery</div>
                <div id="vue" class="mb-4">Vue.js</div>
                <div id="react" class="mb-4">React</div>
                <div id="php" class="mb-4">PHP</div>
                <div id="laravel" class="mb-4">Laravel</div>
                <div id="python" class="mb-4">Python</div>
            </div>
            
            <div class="mt-5">
                <p>Well-rounded fullstack developer, LAMP and JAMstack specialist. Expert knowledge in markup, styling, and JavaScript frontend. Proficient in implementing core backend development tasks including application architecture, API integration &amp; development, CMS integration, website &amp; server maintenance, etc. Strong understanding of digital marketing strategies for SEO, and Social Media Marketing.</p>
            </div>
            
            <div class="mt-5 mb-2 font-weight-bold text-default text-uppercase">
               <span class="font-weight-bold text-dark">Things I do</span>
                <ul class="list-unstyled ">
                   <li>Web Development</li>
                    <li>Single Page Applications</li>
                    <li>Database Admin</li>
                    <li>API Development</li>
                    <li>SEO</li>
                </ul>
            </div>
            
            </div>
            
            <div class="creative col-md-5 offset-md-2 mt-md-0 mt-5 text-md-right">
            
            <h1 class="font-weight-light text-primary mb-4 text-uppercase">Creative<br><small>The <em>sizzle</em></small></h1>
            
            <div class="mt-5 bars">
               <div id="photoshop" class="mb-4" >Photoshop</div>
               <div id="illustrator" class="mb-4">Illustrator</div>
               <div id="xd" class="mb-4">Xd</div>
                <div id="indesign" class="mb-4" >InDesign</div>
            </div>
            
            <div class="mt-5">
                <p>UI designer with an understanding of fundamental UX concepts. Experienced with generating low and high fidelity mockups, rapid prototyping, and creating basic vector graphics. Close adherence to design principles and modern trends. Knowledgable about digital marketing trends and best practices in design & conversion.</p>
            </div>
            
            <div class="mt-5 mb-2 font-weight-bold text-default text-uppercase">
               <span class="font-weight-bold text-dark">Things I do</span>
                <ul class="list-unstyled ">
                   <li>Web Design</li>
                    <li>UI/UX Design</li>
                    <li>Basic Graphic Design</li>
                    <li>Mockups</li>

                </ul>
            </div>
            
            </div>
            
            <img src="img/brain-ln.png" alt="" class="img-fluid brain mx-auto d-none d-md-block">
            
            
            </div>
            
            
        </div>
    </section>
    

    

   <!-- <section class="process full">
    </section>-->

    
    <section class="portfolio py-7 pb-0 bg-dark text-center">
       
        
        <div class="container-fluid ">
            <h1 class="font-weight-light text-white mb-4 text-uppercase text-white">Recent Work<br><small class="text-white">Here are a few work samples.</br><em>Want to see more?</em> <a href="https://github.com/jtbradley" class="text-primary" target="_blank">View my GitHub</a>.</h1>

            <div class="mt-5">
            
            <div id="thumbs" >

                    <div class="filter col-md-3 p-4 mx-auto rounded text-white mb-5">
                        <div class="row text-center">
                            
<p class="text-white pt-2 ml-auto">Sort by: &nbsp;</p>
                            <div class="dropdown mr-auto">
                                <button class="btn btn-main dropdown-toggle" v-html="selectedType" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                </button>
            
            
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                  <a class="dropdown-item" href="all"  @click.prevent="filterByType">All</a>
                                  <a class="dropdown-item" :href="type" v-for="type in projectTypes" @click.prevent="filterByType">{{ type }}</a>

                                </div>
            
                              </div>
                            </div>
                        </div>

            <!-- use objects in vue foreach render img, title, type and filter them -->
            
            <div class="row">

                    <transition name="slide-fade" v-for="(project, i) in projects" mode="in-out">

            
            <div class="thumb col-md-3 py-5 bg-secondary" :key="i" v-if="selectedType == projectTypes[project.type] || selectedType == 'all' || selectedType == 'type'" :style="{backgroundImage : 'url(' + path + project.img + ')'}" @mouseEnter="showOverlay" @mouseLeave="hideOverlay">
                
            <div class="overlay py-5" >
                 <div class="overlay-content">
                  <div class="project-type mb-3">
                    <h5 class="mb-5">{{ project.title }}<br>
                    <small class="d-block text-white mt-3"><em>{{ projectTypes[project.type] }}</em></small></h5>
                  </div>

                  <a :href="project.url" target="_blank"><button class="btn btn-main">Learn More</button></a>

                  
                  </div>
              </div>
            
            </div>

        </transition> 

                    
            
            </div>
            
            </div>
            </div>

        </div>
        
        
    </section>
    
        <section class="resume  w-100 py-5 text-center bg-primary text-white">
        <div class="container">
            <h2 class="text-uppercase font-weight-light mb-4">Looking for my <span class="font-weight-bold">Resumé</span>?</h2>
            
            <a href="resume/Jacob Bradley-12-19-no-refs.pdf" target="_blank"><div class="btn btn-lg btn-white" >Download</div></a>
            
        </div>
    </section>
    
    <section class="contact full text-center">

        <div class="container">

        <h1 class="font-weight-light text-white mb-4 text-uppercase text-primary">Contact<br><small >Drop me a line<em> and let's discuss.</em></small></h1>

        <div class="col-12 col-md-7 mx-auto">
            <div class="row mt-5">

            <a class="d-block mx-auto col-4" href="https://github.com/jtbradley" target="_blank"><i class="fab fa-github fa-5x text-primary" ></i></a>
            <a class="d-block mx-auto col-4" href="https://www.linkedin.com/in/jacob-dev" target="_blank"><i class="fab fa-linkedin fa-5x text-primary"></i></a>
            <a class="d-block mx-auto col-4" href="mailto:jtbradley1@gmail.com"><i class="fas fa-at fa-5x text-primary" target="_blank"></i></a>

                </div>
        </div>

       <!-- <form class="col-md-7 mx-auto mt-5" action="">

                <div class="form-row">
                        <div class="col-12 col-md-6">
                          <input type="text" class="form-control" placeholder="First name" required>
                        </div>
                        <div class="col-12 col-md-6 mt-3 mt-md-0">
                          <input type="text" class="form-control" placeholder="Last name" required>
                        </div>
                        <div class="col-12 col-md-6 mt-3">
                                <input type="email" class="form-control" placeholder="Email" required>
                              </div>
                              <div class="col-12 col-md-6 mt-3">
                                    <input type="text" class="form-control" placeholder="Company (optional)">
                                  </div>
                      </div>


                <div class="form-group mt-4">
                        <textarea class="form-control" id="exampleFormControlTextarea1" placeholder="Message" rows="6"></textarea>
                      </div>
                    </form>-->
    
    </form>

    </div>
    </section>
    
</body>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>

<script
  src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"
  integrity="sha256-eGE6blurk5sHj+rmkfsGYeKyZx3M4bG+ZlFyA7Kns7E="
  crossorigin="anonymous"></script>
	
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

<!-- production version, optimized for size and speed -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>

<script src="js/nanobar.min.js"></script>
<script src="js/jquery.visible.min.js"></script>

<script src="js/app.js"></script>

<script>
    
    
    
    $( document ).ready(function() {
        
        var windowH = Math.max(document.documentElement.clientHeight, window.innerHeight || 0);
        
        $('section.full').css('min-height', windowH);
        
    });

        // ================ VISIBILITY SCROLL
    
    
    var html = new Nanobar( {target: document.getElementById('html')} )
    var jScript = new Nanobar( {target: document.getElementById('jscript')} )
    var css = new Nanobar( {target: document.getElementById('css')} )
    var vue = new Nanobar( {target: document.getElementById('vue')} )
    var react = new Nanobar( {target: document.getElementById('react')} )
    var php = new Nanobar( {target: document.getElementById('php')} )
    var laravel = new Nanobar( {target: document.getElementById('laravel')} )
    var python = new Nanobar( {target: document.getElementById('python')} )
    var photoshop = new Nanobar( {target: document.getElementById('photoshop')} )
    var illustrator = new Nanobar( {target: document.getElementById('illustrator')} )
    var xd = new Nanobar( {target: document.getElementById('xd')} )
    var indesign = new Nanobar( {target: document.getElementById('indesign')} )
                
                var barGo = (function() {
    html.go(95);
    jScript.go(95);
    css.go(95);
    vue.go(90);
    react.go(30);
    php.go(70);
    laravel.go(60);
    python.go(30);
    photoshop.go(95);
    illustrator.go(90);
    xd.go(90);
    indesign.go(30);
          
    });

		$(window).scroll(function() {
            
            if ( $('.skillset .bars').visible( true ) )	{
                barGo();

                }
        });
    
    // ================ END VISIBILITY SCROLL
    
                 $('a.about').on('click', function (e) {
				e.preventDefault();
                $('html,body').animate({scrollTop: $('section.me').offset().top } ,1500, 'easeOutExpo');
				});

                $('a.skillset').on('click', function (e) {
				e.preventDefault();
                $('html,body').animate({scrollTop: $('section.skillset').offset().top} ,1500, 'easeOutExpo');
                });
                
                $('a.work').on('click', function (e) {
				e.preventDefault();
                $('html,body').animate({scrollTop: $('section.portfolio').offset().top } ,1500, 'easeOutExpo');
                });
                
                $('a.resume').on('click', function (e) {
				e.preventDefault();
                $('html,body').animate({scrollTop: $('section.resume').offset().top -110} ,1500, 'easeOutExpo');
                });
                
                $('a.contact').on('click', function (e) {
				e.preventDefault();
                $('html,body').animate({scrollTop: $('section.contact').offset().top } ,1500, 'easeOutExpo');
				});
    
    
    </script>

</html>